@use '@angular/material' as mat;

@include mat.core();

$palette: (
  50: #FDEBF0,
  100: #FBCDD7,
  200: #EB99A2,
  300: #E0717F,
  400: #EC4E61,
  500: #F3384B,
  600: #E32F48,
  700: #D12541,
  800: #C41E3A,
  900: #B50F2E,
  contrast: (
    50: #FFFFFF,
    100: #FFFFFF,
    200: #FFFFFF,
    300: #FFFFFF,
    400: #FFFFFF,
    500: #FFFFFF,
    600: #FFFFFF,
    700: #FFFFFF,
    800: #FFFFFF,
    900: #FFFFFF
  ) 
);

$warning-palette: (
  50: #fef2f2,
  100: #fee2e2,
  200: #fecaca,
  300: #fca5a5,
  400: #f87171,
  500: #ef4444,
  600: #dc2626,
  700: #b91c1c,
  800: #991b1b,
  900: #7f1d1d
);

$accent-palette: (
  50: #E6F1F7,
  100: #C9DCE2,
  200: #ABC4CD,
  300: #8CABB7,
  400: #7398A5,
  500: #5B8595,
  600: #4F7683,
  700: #40616D,
  800: #334E58,
  900: #223941,
  contrast: (
    50: #FFFFFF,
    100: #FAFAFA,
    200: #F5F5F5,
    300: #F0F0F0,
    400: #DEDEDE,
    500: #C2C2C2,
    600: #979797,
    700: #818181,
    800: #606060,
    900: #3C3C3C
  )
);

$primary: mat.define-palette($palette, 800);
$accent: mat.define-palette($accent-palette, 800, 600, 500);

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent
  )
));

@include mat.core-theme($theme);
@include mat.core-color($theme);
@include mat.button-color($theme);
@include mat.all-component-themes($theme);